body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: white;
}

#videoSelectBtn {
  text-decoration: none;
}

.success {
  color: hsl(171, 100%, 41%);
  margin-right: 6px;
}